@{
    ViewData["Title"] = "Calculator";
}




<script>

    var hosting = "http://localhost:5000";

    var token = "";

    function getSum() {
        var A = $("#A").val();
        var B = $("#B").val();
        $.get({
            url: hosting+"/api/calculator/add/" + A + "/" + B,
            success: function (data) {
                console.log(data);
                $("#result").html(data);
            }
        });
    }

    function getProduct() {
        var A = $("#A").val();
        var B = $("#B").val();
        $.get({
            url: hosting + "/api/calculator/mult/" + A + "/" + B,
            headers: {
                'Authorization': 'Bearer ' + token,
                "X-Requested-With": "XMLHttpRequest"
            },
            contentType:"application/x-www-form-urlencoded",
            success: function (data) {
                console.log(data);
                $("#result").html(data);
            },
            error:function(){
                $("#result").html("Только достойные могут узнать");
            }
        });
    }


    function logIn() {
        var login = $("#login").val();
        var pass = $("#pass").val();
        $.post({
            url: hosting + "/token",
            contentType: "application/x-www-form-urlencoded",
            data:{
                username:login,
                password:pass            
            },
            success: function (data) {
                token = data.access_token;
                $("#loginButton").css("background-color", "green");
            },
            error: function () {
                token = "";
                $("#loginButton").css("background-color", "red");
            }
        });
    }


    

</script>

<center>

    <br />
    <h2>О великий оракул скажи нам сколько будет</h2>
    <hr />
    <p>
        <input type="number" id="A" value="0" /> и
        <input type="number" id="B" value="0" /> ?        
    </p>

    <h1><span id="result"></span></h1>

    <button onclick="getSum()">SUM</button>
    <button onclick="getProduct()">PRODUCT</button>
    <br /><hr /><br />
    <p>
        <input type="text" id="login" value="TEST" placeholder="login" />
        <input type="text" id="pass" value="TEST123" placeholder="password" />
        <button id="loginButton" onclick="logIn()">LOGIN</button>
    </p>
    
    <br />
    <br />
    <p><img src="~/images/aida.png" style="width:100%" /></p>

</center>
